{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="row gx-0 px-3 d-flex align-content-center justify-content-center">
        <form enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row py-1 d-flex justify-content-between align-items-center">
                <div class="col">
                    <h5 class="m-0">Your data:</h5>
                </div>
            </div>
            <div class="row">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item py-4 px-2">
                        <div class="mb-3">
                            <label for="name" class="form-label">{{ form.fields.name.label }}</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   autocomplete="name"
                                   required
                                   value="{{ user.name }}">
                            {% for error_message in form.errors.email.data %}
                                <small class="error" id="nameError">{{ error_message.message }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">{{ form.fields.email.label }}</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   autocomplete="email"
                                   required
                                   value="{{ user.email }}">
                            {% for error_message in form.errors.email.data %}
                                <small class="error" id="emailError">{{ error_message.message }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="profile_picture"
                                   class="form-label">{{ form.fields.profile_picture.label }}</label>
                            {% if user.profile_picture %}
                                <br>
                                <div class="mb-2">
                                    <small>
                                        <a href="{{ user.profile_picture.url }}">Your current picture</a>
                                    </small>
                                </div>
                            {% endif %}
                            <input type="file"
                                   class="form-control"
                                   id="profile_picture"
                                   name="profile_picture"
                                   value="{% if user.profile_picture %}{{ user.profile_picture }}{% endif %}"
                                   placeholder="-"
                                   accept="image/png, image/jpeg">
                            {% for error_message in form.errors.profile_picture.data %}
                                <small class="error" id="profile_pictureError">{{ error_message.message }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="paypal_me_username"
                                   class="form-label">{{ form.fields.paypal_me_username.label }}</label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text"
                                       class="form-control"
                                       id="paypal_me_username"
                                       name="paypal_me_username"
                                       value="{% if user.paypal_me_username %}{{ user.paypal_me_username }}{% endif %}"
                                       placeholder="-">
                            </div>
                            {% for error_message in form.errors.paypal_me_username.data %}
                                <small class="error" id="paypal_me_usernameError">{{ error_message.message }}</small>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <input type="checkbox"
                                   class="form-check-input me-1"
                                   id="wants_to_receive_webpush_notifications"
                                   name="wants_to_receive_webpush_notifications"
                                   {% if user.wants_to_receive_webpush_notifications %}checked{% endif %}>
                            <label for="wants_to_receive_webpush_notifications" class="form-check-label">
                                {{ form.fields.wants_to_receive_webpush_notifications.label }}
                            </label>
                            {% for error_message in form.errors.wants_to_receive_webpush_notifications.data %}
                                <small class="error"
                                       id="wants_to_receive_webpush_notificationsError">{{ error_message.message }}</small>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="list-group-item"></li>
                </ul>
                <div class="row row-gap-3 d-flex justify-content-around me-2">
                    <div class="col-12 col-sm-6 col-xl-4">
                        <button type="button"
                                class="btn btn-secondary w-100"
                                hx-get="{% url "account:change-password" pk=user.id %}"
                                hx-target="#body"
                                hx-indicator="#body-loading-spinner"
                                hx-swap="morph:innerHTML"
                                hx-push-url="true">Change password
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 d-flex justify-content-end">
                        <button class="btn btn-primary w-100 float-end"
                                type="submit"
                                hx-post="{% url 'account:update' pk=user.id %}"
                                hx-target="#body"
                                hx-indicator="#body-loading-spinner"
                                hx-swap="morph:innerHTML"
                                hx-push-url="true">Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
